$bcg-rojo: #6A0E0E;
$bcg-blanco: #FFFFFF;
$bcg-gris_claro: #F9F9F9;
$bcg-gris_oscuro: #D5D3D3;
$bcg-de-carousel: #f1ecec;
$bcg-developed: #9E2222;
$bcg-alNatural: #D2F2E1;
$bcg-crema: #D87171;
$bcg-chocolate: #A7796D;
$bcg-ddl: #BE8945;
$bcg-especiales: #F3CAEB;
$color-black: #000000;

$poppins: 'Poppins', sans-serif;

$border-test: solid 1px red;

.sabores_padre{
    background-color: $bcg-de-carousel;

}

.bcg_white{
    background-color: $bcg-gris_claro;
}

.poppinaso_productos{
    font-size: 1rem;
}

.al_natural{
    background-color: $bcg-alNatural;
}
.al_crema{
    background-color: $bcg-crema;
}
.al_chocolate{
    background-color: $bcg-chocolate;
}
.al_ddl{
    background-color: $bcg-ddl;
}
.al_especial{
    background-color: $bcg-especiales;
}

@each $sabor in al_natural, al_crema, al_chocolate, al_ddl, al_especial {
    .#{$sabor}{
        font-family: $poppins;
        letter-spacing: 3px;
        font-size: 1.75rem;
        padding: 5px;
    }
}