@import "_inicio";
@import "_productos";
@import "_punto_de_venta";
@import "_nosotros";
@import "_contacto";

$bcg-rojo: #6A0E0E;
$bcg-blanco: #FFFFFF;
$bcg-gris_claro: #F9F9F9;
$bcg-developed: #9E2222;
$bcg-alNatural: #D2F2E1;
$bcg-crema: #D87171;
$bcg-chocolate: #A7796D;
$bcg-ddl: #BE8945;
$bcg-especiales: #F3CAEB;
$color-black: #000000;

$poppins: 'Poppins', sans-serif;

$border-test: solid 1px red;


body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header{
    background-color: $bcg-rojo;
}

// Contacto rapido
.fastContact{
    width: 100;
    color: $bcg-blanco;
    background-color: $bcg-rojo;
    padding: 3px;
    font-family: $poppins;
    font-weight: 300;
    font-size: 12px;
    position: relative;

    display: flex;
    justify-content: flex-end;

    @each $fastContact in celu, telefono, instagram {
        .#{$fastContact}{
            margin: 0 30px 0 10px;
        }
    }


    .linkeo{
        text-decoration: none;
        color: $bcg-blanco;
    }
}

.menu{
    width: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    // border-bottom: 1px $bcg-blanco solid;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);

    .logo{
        width: 5%;
        display: flex;
        justify-content: center;
    }
    .logo_h1{
        display: none;
    }

    #btn-menu{
        cursor: pointer;
        display: none;
    }
    .label {
        display: none;
        padding: 10px;

        :hover{
            cursor: pointer;
        }
    }

    .menu_items{
        display: flex;
        list-style: none;
        width: 90%;
        font-family: $poppins;
        font-weight: 600;
        font-size: 18px;
        
        display: flex;
        justify-content: space-between;

        li a {
            text-decoration: none;
            color: $bcg-blanco;
            display: block; //para que el link ocupe todo el lugar
        }
    }

}

// Celular
@media screen and (max-width: 767px){
    .fastContact{
        font-size: 8px;
        img{
            width: 10px;
            height: 10px;
        }

        @each $fastContact in celu, telefono, instagram {
            .#{$fastContact}{
                margin: 0 15px 0 5px;
            }
        }
    }
    
    .menu{
        position: absolute;
        background-color: $bcg-rojo;

        .logo{
            display: block;
            width: auto;
            width: 100%;

            display: flex;
            justify-content: center;

            img{
                margin-left: -30px;
            }
        }

        .label{
            display: block;
        }

        .menu_items{
            background-color: $bcg-rojo;
            width: 100%;
            left: -100%;
            height: calc(90vh - 78px); //1473 completo con algo abierto
            top: 55px;
            margin: 0;
            padding: 0;
            position: absolute;
            transition: all 0.4s;

            flex-direction: column;
            justify-content: space-around;

            li a {
                margin-left: 10px;
                padding: 30px;
            }

            li:hover{
                background-color: $bcg-developed;
            }
        }

        #btn-menu:checked ~ .menu_items {
            left: 0;
        }
    }
}