.carousel_productos {
  background-color: #D5D3D3;
  padding: 4px; }
  .carousel_productos .h3_texto {
    margin: 15px 0 15px 0;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px; }
    .carousel_productos .h3_texto a {
      margin-left: 5px;
      font-size: .70rem;
      text-decoration: none;
      color: #000000; }
  .carousel_productos .carousel__contenedor {
    position: relative; }
    .carousel_productos .carousel__contenedor .carousel__anterior, .carousel_productos .carousel__contenedor .carousel__siguiente {
      position: absolute;
      display: block;
      border: none;
      cursor: pointer;
      top: 40%;
      line-height: 30px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.05); }
    .carousel_productos .carousel__contenedor .carousel__anterior {
      z-index: 100;
      left: 10px; }
    .carousel_productos .carousel__contenedor .carousel__siguiente {
      right: 10px; }
    .carousel_productos .carousel__contenedor .carousel__elemento {
      text-align: center;
      margin: 5px;
      background-color: #FFFFFF;
      border-radius: 20px; }
    .carousel_productos .carousel__contenedor .parrafo_carousel {
      margin-top: 5px;
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: 1px; }
    .carousel_productos .carousel__contenedor .sector_cremas {
      color: #D87171;
      font-weight: 650;
      font-size: 1.25rem;
      letter-spacing: 2px; }

@media screen and (max-width: 767px) {
  .carousel_promos_CELL {
    background-color: #F9F9F9; }
  .carousel_promos_PC {
    display: none; } }

@media screen and (min-width: 768px) {
  .carousel_promos_PC {
    background-color: #F9F9F9; }
  .carousel_promos_CELL {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

header {
  background-color: #6A0E0E;
  width: 100%; }

.logo_h1 {
  display: none; }

.fastContact {
  color: #FFFFFF;
  background-color: #6A0E0E;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .fastContact .celu {
    margin: 0 30px 0 10px; }
  .fastContact .telefono {
    margin: 0 30px 0 10px; }
  .fastContact .instagram {
    margin: 0 30px 0 10px; }

.linkeo {
  text-decoration: none;
  color: #FFFFFF; }

.menu2 {
  background-color: #6A0E0E; }
  .menu2 .texto_menu {
    font-weight: 600;
    font-size: 18px; }
    .menu2 .texto_menu li a {
      color: #FFFFFF; }
  .menu2 .logoCell {
    display: none; }
  .menu2 .botonazo {
    border-bottom: none; }

.developedBy {
  background-color: #9E2222;
  color: #FFFFFF;
  display: flex;
  justify-content: center; }

.boton-acordion {
  padding: 16px 20px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #F9F9F9;
  border: 0;
  position: relative; }
  .boton-acordion .subdesplazar {
    position: absolute;
    left: 85%;
    top: 50%; }

@media screen and (max-width: 767px) {
  .logoCell {
    background-color: #6A0E0E; }
    .logoCell div a {
      display: flex;
      justify-content: center;
      align-items: center; }
  .fastContact {
    font-size: 8px; }
    .fastContact img {
      width: 10px;
      height: 10px; }
    .fastContact .celu {
      margin: 0 15px 0 5px; }
    .fastContact .telefono {
      margin: 0 15px 0 5px; }
    .fastContact .instagram {
      margin: 0 15px 0 5px; }
  .menu2 .ella {
    padding: 2px; }
  .menu2 .logoCell {
    display: inline-block; }
  .menu2 .logo {
    display: none; }
  .menu2 .texto_menu {
    padding-top: 5px; }
  .padre_productosPC {
    display: none; }
  .padreAcordeon .boton-acordion {
    padding: 16px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #F9F9F9;
    border: 0;
    position: relative; }
    .padreAcordeon .boton-acordion .subdesplazar {
      position: absolute;
      left: 85%;
      top: 50%; }
  .padreAcordeon .cuerpoAcordeon {
    display: flex;
    flex-wrap: wrap; }
  .padreAcordeon #body_acordeon-text {
    font-size: 1rem;
    font-weight: 400; }
  .padreAcordeon .poppinaso {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400; }
  .nav-item_menu {
    margin-left: 10px; }
  .footer_pc {
    display: none; }
  .footer_cell {
    background-color: #6A0E0E;
    height: 400px; }
    .footer_cell .lista {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer_cell .lista :hover {
        color: #FFFFFF; } }

@media screen and (min-width: 768px) {
  .logoCell {
    display: none; }
  .menu2 .conjunto {
    display: none; }
  .padre_productosPC {
    z-index: 1000;
    height: auto;
    width: 824px;
    background-color: #D5D3D3; }
    .padre_productosPC .h2_PC {
      font-size: 1.25rem;
      font-family: "Poppins", sans-serif;
      letter-spacing: 3px;
      font-weight: 500; }
    .padre_productosPC .titulos_h2 {
      width: 100%;
      display: flex;
      justify-content: space-around; }
    .padre_productosPC .barrio {
      width: 50%; }
    .padre_productosPC .productos_hover {
      position: relative; }
      .padre_productosPC .productos_hover .padre_productosPC {
        display: none; }
  .productos_hover {
    position: relative; }
  .padre_productosPC {
    display: none; }
  .productos_hover:hover .padre_productosPC {
    display: inline-block;
    position: absolute;
    top: 48px; }
  .poppinaso {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400; }
  .footer_pc {
    background-color: #6A0E0E;
    height: 200px; }
    .footer_pc .lista {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0; }
      .footer_pc .lista :hover {
        color: #FFFFFF; }
  .footer_cell {
    display: none; } }

.tachado {
  text-decoration: line-through; }

#linkeo2 {
  text-decoration: none;
  color: black;
  font-size: 12px; }

.bordes {
  border: solid 1px red; }
