body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

header {
  background-color: #6A0E0E; }

.fastContact {
  width: 100;
  color: #FFFFFF;
  background-color: #6A0E0E;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .fastContact .celu {
    margin: 0 30px 0 10px; }
  .fastContact .telefono {
    margin: 0 30px 0 10px; }
  .fastContact .instagram {
    margin: 0 30px 0 10px; }
  .fastContact .linkeo {
    text-decoration: none;
    color: #FFFFFF; }

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); }
  .menu .logo {
    width: 5%;
    display: flex;
    justify-content: center; }
  .menu .logo_h1 {
    display: none; }
  .menu #btn-menu {
    cursor: pointer;
    display: none; }
  .menu .label {
    display: none;
    padding: 10px; }
    .menu .label :hover {
      cursor: pointer; }
  .menu .menu_items {
    display: flex;
    list-style: none;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between; }
    .menu .menu_items li a {
      text-decoration: none;
      color: #FFFFFF;
      display: block; }

@media screen and (max-width: 767px) {
  .fastContact {
    font-size: 8px; }
    .fastContact img {
      width: 10px;
      height: 10px; }
    .fastContact .celu {
      margin: 0 15px 0 5px; }
    .fastContact .telefono {
      margin: 0 15px 0 5px; }
    .fastContact .instagram {
      margin: 0 15px 0 5px; }
  .menu {
    position: absolute;
    background-color: #6A0E0E; }
    .menu .logo {
      display: block;
      width: auto;
      width: 100%;
      display: flex;
      justify-content: center; }
      .menu .logo img {
        margin-left: -30px; }
    .menu .label {
      display: block; }
    .menu .menu_items {
      background-color: #6A0E0E;
      width: 100%;
      left: -100%;
      height: calc(90vh - 78px);
      top: 55px;
      margin: 0;
      padding: 0;
      position: absolute;
      transition: all 0.4s;
      flex-direction: column;
      justify-content: space-around; }
      .menu .menu_items li a {
        margin-left: 10px;
        padding: 30px; }
      .menu .menu_items li:hover {
        background-color: #9E2222; }
    .menu #btn-menu:checked ~ .menu_items {
      left: 0; } }
