body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

header {
  background-color: #6A0E0E;
  width: 100%; }

.logo_h1 {
  display: none; }

.fastContact {
  color: #FFFFFF;
  background-color: #6A0E0E;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .fastContact .celu {
    margin: 0 30px 0 10px; }
  .fastContact .telefono {
    margin: 0 30px 0 10px; }
  .fastContact .instagram {
    margin: 0 30px 0 10px; }
  .fastContact .linkeo {
    text-decoration: none;
    color: #FFFFFF; }

.menu2 {
  background-color: #6A0E0E; }
  .menu2 .texto_menu {
    font-weight: 600;
    font-size: 18px; }
    .menu2 .texto_menu li a {
      color: #FFFFFF; }
  .menu2 .logoCell {
    display: none; }
  .menu2 .botonazo {
    border-bottom: none; }

@media screen and (max-width: 767px) {
  .logoCell {
    background-color: #6A0E0E; }
    .logoCell div a {
      display: flex;
      justify-content: center;
      align-items: center; }
  .fastContact {
    font-size: 8px; }
    .fastContact img {
      width: 10px;
      height: 10px; }
    .fastContact .celu {
      margin: 0 15px 0 5px; }
    .fastContact .telefono {
      margin: 0 15px 0 5px; }
    .fastContact .instagram {
      margin: 0 15px 0 5px; }
  .menu2 .ella {
    padding: 2px; }
  .menu2 .logoCell {
    display: inline-block; }
  .menu2 .logo {
    display: none; }
  .menu2 .texto_menu {
    padding-top: 5px; }
  .padreAcordeon .boton-acordion {
    padding: 16px 20px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #F9F9F9;
    border: 0;
    position: relative; }
    .padreAcordeon .boton-acordion .subdesplazar {
      position: absolute;
      left: 85%;
      top: 50%; }
  .padreAcordeon .cuerpoAcordeon {
    display: flex;
    flex-wrap: wrap; }
  .padreAcordeon #body_acordeon-text {
    font-size: 1rem;
    font-weight: 400; }
  .padreAcordeon .poppinaso {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400; }
  .nav-item_menu {
    margin-left: 10px; } }

@media screen and (min-width: 768px) {
  .logoCell {
    display: none; }
  .menu_items li .children {
    display: none;
    list-style: none;
    text-decoration: none;
    background-color: #D5D3D3;
    position: absolute;
    width: 200%;
    z-index: 1000; }
    .menu_items li .children li a {
      color: #000000; }
  .menu_items li:hover .children {
    display: block; }
    .menu_items li:hover .children li {
      display: block;
      overflow: hidden; }
      .menu_items li:hover .children li a {
        display: block; }
        .menu_items li:hover .children li a img {
          float: right;
          position: relative;
          top: 8px;
          right: 20px; }
    .menu_items li:hover .children :hover {
      background-color: #F9F9F9; }
  .menu2 .conjunto {
    display: none; } }

.bordes {
  border: solid 1px red; }

.dos {
  display: flex;
  flex-wrap: wrap; }

.tres_2 {
  height: auto;
  color: blue; }

.tachado {
  text-decoration: line-through; }

#linkeo2 {
  text-decoration: none;
  color: black;
  font-size: 12px; }
